<header class="header" id="header">

    {% section 'hero' %}
</header>

<main class="main" id="main">

    {% section 'quote' %}
    {% section 'collection-carousel' %}
    {% section 'features' %}
    {% section 'cta' %}
    {% section 'newsletter' %}
    {% section 'stories' %}
    {% section 'survey' %}
    {% section 'carousel' %}
    {% section 'rating' %}
    {% section 'faq' %}
</main>