<div class="hero hero--product" id="hero">
    <div class="container">
        <div class="product">
            <div class="product_display">
                <div class="product_preview"><img alt="" class="product_display-image" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, 56vw" src="images/img_hero.jpg" srcset="images/img_hero-p-1080.jpeg 1080w, images/img_hero-p-1600.jpeg 1600w, images/img_hero-p-2000.jpeg 2000w, images/img_hero.jpg 2560w">
                    <div class="product_preview-arrow">
                        <a class="product_preview-arrow-icon" href="#">→</a>
                    </div>
                    <div class="product_preview-arrow left">
                        <a class="product_preview-arrow-icon" href="#">←</a>
                    </div>
                </div>
                <div class="product_display-previews"><img alt="" class="product_preview-thumb" loading="lazy" sizes="(max-width: 767px) 100vw, 96px" src="images/img_hero.jpg" srcset="images/img_hero-p-1080.jpeg 1080w, images/img_hero-p-1600.jpeg 1600w, images/img_hero-p-2000.jpeg 2000w, images/img_hero.jpg 2560w"><img alt="" class="product_preview-thumb" loading="lazy" sizes="(max-width: 767px) 100vw, 96px" src="images/img_hero.jpg" srcset="images/img_hero-p-1080.jpeg 1080w, images/img_hero-p-1600.jpeg 1600w, images/img_hero-p-2000.jpeg 2000w, images/img_hero.jpg 2560w"><img alt="" class="product_preview-thumb" loading="lazy" sizes="(max-width: 767px) 100vw, 96px" src="images/img_hero.jpg" srcset="images/img_hero-p-1080.jpeg 1080w, images/img_hero-p-1600.jpeg 1600w, images/img_hero-p-2000.jpeg 2000w, images/img_hero.jpg 2560w"><img alt="" class="product_preview-thumb" loading="lazy" sizes="(max-width: 767px) 100vw, 96px" src="images/img_hero.jpg" srcset="images/img_hero-p-1080.jpeg 1080w, images/img_hero-p-1600.jpeg 1600w, images/img_hero-p-2000.jpeg 2000w, images/img_hero.jpg 2560w"><img alt="" class="product_preview-thumb" loading="lazy" sizes="(max-width: 767px) 100vw, 96px" src="images/img_hero.jpg" srcset="images/img_hero-p-1080.jpeg 1080w, images/img_hero-p-1600.jpeg 1600w, images/img_hero-p-2000.jpeg 2000w, images/img_hero.jpg 2560w"><img alt="" class="product_preview-thumb" loading="lazy" sizes="(max-width: 767px) 100vw, 96px" src="images/img_hero.jpg" srcset="images/img_hero-p-1080.jpeg 1080w, images/img_hero-p-1600.jpeg 1600w, images/img_hero-p-2000.jpeg 2000w, images/img_hero.jpg 2560w"></div>
            </div>
            <div class="product_info">
                <h1 class="product_title">{{product.title}}</h1><img alt="" class="product_rating" src="images/Ratings.svg">
                <div class="product_description">NONA June is a non-alcoholic alternative for gin and has a dominant citrus flavour followed by a herbal touch.</div>
                <div class="product_features">
                    <div class="product_features-item">Easy to install
                    </div>
                    <div class="product_features-item">Max 2 day lead-time</div>
                    <div class="product_features-item">Free worldwide shipping</div>
                </div>
                <div class="product_options">
                    <div class="product_options-item">
                        <div class="product_option">
                            <div class="product_option-label">Size</div>
                            <div class="product_option-field">70cl</div>
                        </div>
                    </div>
                    <div class="product_options-item product_options-item--amount">
                        <div class="product_option">
                            <div class="product_option-label">Amount</div>
                            <div class="product_option-field">1</div>
                        </div>
                    </div>
                </div>
                <div class="product_action">
                    <div class="product_price">
                        <div class="product_price-value">$72.95</div>
                        <div class="product_price-tax">Incl. 19% VAT</div>
                    </div>
                    <a class="product_btn w-button" href="#">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    
}
{% endschema %}