<section>
    <h1>Store locator</h1>
    <div class="store-locatior-container">

        <div class="address-input-container">
            <div class="input">
                <input id="input" type="text"/>
            </div>
            <div class="address" id="addresses"></div>
        </div>
        <div class="map-container">
            <div class="map" id="map"></div>
            <div class="gray-overlay"></div>
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</section>


{% schema %}

{}

{% endschema %}
